<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create flight</title>
</head>
<body>
    <h1>Create a flight</h1>
    <form>
        <input type="text" name="origen" id="origen" placeholder="Origen...">
        <input type="text" name="destino" id="destino" placeholder="Destino...">
        <input type="datetime-local" name="hora_salida" id="hora_salida">
        <input type="datetime-local" name="hora_llegada" id="hora_llegada">
        <input type="number" name="price" id="price" >
        <button>Crear</button>
    </form>

    <!-- Reto(parte 2): Hacer la petición para enviar los datos del formulario en JSON-->
</body>
</html>